  <div class="row justify-content-center">
    <div class="col-sm-8">
      <div id="books">
        <% if @books.any? %>
          <% @books.each do |book| %>
            <%= render book %>
            <p><%= link_to "Show this book", book_path(book) %></p>
          <% end %>
        <% else %>
          <em>Sorry, no books found.</em>
        <% end %>
      </div>
    </div>
  </div>
