<div class="container" id="allbookscontainer">
  <div class="row justify-content-center">
      <div id="books">
        <% if @books.any? %>
          <% @books.each do |book| %>
            <div>
              <%= render book %>
              <p><%= link_to "Show this book", book_path(book) %></p>
            </div>
          <% end %>
        <% else %>
          <em>Sorry, no books found.</em>
        <% end %>
      </div>
    </div>
  </div>
</div>
